*{
    margin: 0;
    padding: 0;
}

/* index */

.cabecera{
    color:white;
    list-style: none;
    display: inline;
    float: right ;
    margin-right: 25px; 
   
    
}

body{
    background-color: #171425;
}

h1{
    text-align: center;
    color: gray;
    font-family: 'Comic Neue', cursive;
}

main{
    margin-top: 150px;
}

.imgmain{
    margin-top: 20PX;
    margin-left: 180px;
}

section{
    margin-top: 50px;
    float: left ;
}


.lh{
    color:white;
    list-style: none;
    display: inline;
    margin-left: 290px;
    margin-right: 200px;
}

footer { 
    margin-top: 20px;
    background-color: rgb(38, 5, 61);
    height: 80px;
    color: hsl(0, 1%, 71%);
    text-align: center;
    
    
}
footer span{
    font-size: 30px;
    padding: 10px; 
    
}



/* preguntasfrecuentes */

.p_f_h {
    text-align: center;
    margin-top: 50px;
    color: white;
    font-family: 'Comic Neue', cursive;
}

.p_f_p {
    text-align: center;
    margin-top: 10px;
    color: white;
    font-family: 'Comic Neue', cursive;
}

/* login*/

.centrar_imagen {
    margin-top: 100px;
    margin-left: 300px; 
    margin-bottom: 100px;
}

/* carrito */

table {
    margin: 10%;
}

table tr{
    color: white;
    padding: 25%;
    
}



/* Tienda */

.litienda{
    margin-top: 50px;
    text-align: center;
    color: gray;
    font-size: large;
    margin-bottom: 20px;
}