*{
    margin: 0;
    padding: 0;
}

/* index */



.cabecera{
    color:white;
    list-style: none;
    display: inline;
    text-decoration: none;
    
}

.bordes{
    border: solid white 1px;
}
body{
    background-color: #171425;
}

h1{
    text-align: center;
    color: gray;
    font-family: 'Comic Neue', cursive;
 
}


.burich{
    text-decoration: none;
}



footer { 
    margin-top: 20px;
    background-color: rgb(38, 5, 61);
    color: hsl(0, 1%, 71%);
    text-align: center;
}

footer span{
    font-size: 30px;
}
/* preguntasfrecuentes */

.p_f_h {
    text-align: center;
    margin-top: 50px;
    color: white;
    font-family: 'Comic Neue', cursive;
}

.p_f_p {
    text-align: center;
    margin-top: 10px;
    color: white;
    font-family: 'Comic Neue', cursive;
    list-style: none;
}



/* carrito / login */

.text {
    color: white;
    padding: 20px;
    text-align: center;
}


/* Tienda */

.litienda{
    margin-top: 50px;
    text-align: center;
    color: gray;
    font-size: large;
}
.th2{
    text-align: center;
    color: gray;
    font-family: 'Comic Neue';
}